

a:link{
	color:#fff;
	text-decoration: none;
}
a:hover{
	color:#000000;
	text-decoration: underline;
}

.active{
	background-color: #04AA6D;

}

body{
	background-color: #f7f7f7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

body ul{
	color:#000;	
}

body ul li{
	margin: 0;
	padding: 10px 10px 10px 50px;
	list-style: none;
	background-image: url('../images/Checkmark.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
	font-size: 30px;

}

.sublist{
	font-size: 20px;
	background-image: none;
}

.description{
	margin-top:5px;
	font-size: 25px;
	margin-bottom: 50px;
}

#imagebesidelist{
	float:right;
	margin-right: 30px;
}


.block{
	float: right;
	width: 50%;
	border: 1px solid #000;
	padding: 10px;
	box-sizing: border-box;
}

.block2{
	float: left;
	width: 50%;
	border: 1px solid #000;
	padding: 10px;
	box-sizing: border-box;
}

.blocktext{
	text-align: center;
	margin-top: 25px;
	padding: 20px;
}

.button {
	background-color: #000000;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	position:absolute;
	top: 325px;
	left: 900px;
  }

.column{
	width: 90%;
	margin:auto;
	overflow: auto;
	display:flex;
}

.row{
	width: 90%;
	margin:auto;
	overflow: auto;
	display:flex;
}




.dropdown {

	display: inline-block;
}

.dropdown-content {
	display: none;
	position: relative;
	background-color: #000000;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
	background-color: #3e8e41;
  }

.headers{
	color:#000;
	text-align: left;
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-top: 30px;
	margin-left: 30px;
}

.headers2{
	text-align: center;
	font-size: 26px;
	font-family: bold;
	padding-top: 150px;
	padding-bottom: 10px;
	margin-top: 15px;
}

.serviceimages{
	flex: 33.33%;
	padding: 25px;
	width: 25%;
}

.serviceimages:hover{
	background-color: #333;
}


.imgdescription{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(29, 106, 154, 0.72);
	color: rgb(0, 0, 0);
	visibility: hidden;
	opacity: 0;
  
}

.serviceimages:hover .imgdescription{
	visibility: visible;
	opacity: 1;
}


#main-header{
	background-color: rgb(255, 255, 255);
	color: #fff;
	text-align: left;
	font-size: 26px;
	color: black;
	height:100px;
}



  #main{
	float: left;
	width: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	margin-bottom: 30px;
}

#main-footer{
	color: #fff;
	background-color: #333;
	text-align: center;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 50px;
}

@media(max-width:600px){
	#main{
		width: 100%;
		float:none;
	}

	#sidebar{
		width: 100%;
		float:none;
	}
}

#navbar{
	background-color: #333;
	color:#fff;
	text-align: right;
	position:sticky;
	width: 100%;
	z-index:2;
	overflow:visible;
}

#navbar ul{
	padding: 0;
	margin: 0;
	list-style: none;
	position:sticky;
	top: 0;
	position: -webkit-sticky; /* Safari */

}

#navbar li{
	display: inline-block;;
}
#navbar li a:hover:not(.active) {
	background-color:#111;;
  }


#navbar a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 18px;
	font-family: bold;
	padding: 14px 16px;
	margin-bottom: 0px;
	text-align: center;
	display:block;
}
nav{
	width: 100%;
	height: 60%;
}
nav p{
	color:rgb(255, 255, 255);
	font-size: 30px;
	margin: 0px 10px;
	padding-top: 0px;
	position: absolute;
	top: 25px;
	left: 50px;

}

nav ul{
	color:#000;
	background-color: #000;
	background-image: none;

}
nav ul li{
	list-style: none;
	float:right;
	padding-left: 20px;
	margin: 0px 30px;
	color:rgb(255, 255, 255);
	font-size: 20px;
	position: relative;
	background-image: none;
}

nav ul li a{
	color: rgb(255, 255, 255);
	display: block;
	padding:5px;	
}

nav ul li a:hover{
	text-align: center;
	text-decoration: none;
	display: block;
}

nav ul li ul{
	display:none;
	position:absolute;
}

nav ul li:hover ul{ 
	display:block;
	background-color: #000;
	text-align: center;
	padding: 0;

}

nav ul li ul li a{
	text-align: center;
	color:rgb(255, 255, 255);
	float: none;
}

nav ul li ul li{
	float: none;
	background-color: #000000;
	text-align: center;
	margin: 0;
	padding:10px 0px;
}

nav ul li ul li a:hover{
	background-color: rgb(126, 126, 126);
}

.searchtext{
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	float:left;
}


#showcase{

	padding: 200px 30px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	float:inline-start;
	background-image: url("../images/aidanlawnpic.png");
	background-repeat: no-repeat;
	background-size: cover
}

#topleft {

	max-width: 70px;
	max-height: 70px;
	position: absolute;
	top: 0px;
	left: 0px;

  }

  .text{
	text-align: center;
	font-family: bold;
	font-size: 20px;
	overflow: hidden;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 20px;
	color: #000;
}



